{%extends "OTobjects/base.html"%}
{%load staticfiles%}

{%block js%}
  <script>
    function clear(id){
        document.getElementById(id).style.background="yellow";
        document.getElementById(id).value="";
    }    
  </script>
  <script type="text/javascript" src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
       $("#fcomment").submit(function(e){
           var num = parseInt($("#counts").text());
           $("#counts").text((num+1).toString());
       });
    });
  </script>
{%endblock%}

{%block content%}
<link rel="stylesheet" type="text/css" href="{% static 'OTobjects/css/confirm.css' %}" />
<div class="firstFchartTitle"><b>Fchart : </b>{{otm4_0.Catid.Catna}}<b> JD : </b>{{otm4_0.Catid.JD}}</div>
<div id='firstFchart' class="firstFchart">
    <img src="{%static 'OTobjects'%}/Fchart/{{otm4_0.Fname}}" alt="{{otm4_0.Fpath}}/{{otm4_0.Fname}}" style="align:center;"/>
</div>
<div class="commentTitle"><b>Comment</b></div>
<div id="comment" class="comment">
  <form id="fcomment" action="../index=comment/" target="listcomment" method="post">
    {% csrf_token %}
    <fieldset style="width:800px;">
    <div style="position:relative;left:10px;">
      <legend>now status <span id="nowstatus" style="color:red;">{{otm4_0.OTid.status}}</span></br></legend>
      <input type="radio" name="status" value="-1">-1
      <input type="radio" name="status" value="0" checked="checked">0
      <input type="radio" name="status" value="1">1
      <input type="radio" name="status" value="2">2</br>
      <span style="font-style:italic;"><b>*note*:</b>-1 False transient; 0 To be confirmed; 1 True transient; 2 Continue to be confirmed</span>
    </div>
    </fieldset>
    <textarea id="commentarea" name="commentarea" rows="5" cols="99" onfocus="clear(this.id)"></textarea><br/>
    <input type="submit" value="submit" style="position:relative;left:740px;">
  </form>
</div>
<div id="listcomment" class="listcomment">
  <span>Now,there are <span id="counts">{{counts}}</span> comments</span>
  <hr>
  <iframe src="../index=comment/" name="listcomment" style="width:100%;" frameborder="0" ></iframe>
</div>
{%endblock%}
