{%extends "OTobjects/base.html"%}
{%load i18n%}
{%load staticfiles%}

{%block css%}
    body{background:url("{%static 'OTobjects'%}/image/bg_content.png");}
    .index_h {background:#006699; margin:0px; padding:0px; height:50px; float:left; font-size:220%;}
    .index_t {border:2px solid blue; padding:0px; width:100%; margin:0px;}
    .thead {background-color:blue; color:white; text-align:center; height:30px;}
    .tdata {background-color:#EAF2D3;text-align:center;}
    .counts {text-decoration:none;font-weight:bold;}
    .paginator-pages {text-decoration:none;border:1px solid gray;color:black;text-align:center;padding:5px;}
{%comment%}
  <link rel="stylesheet" type="text/css" href="{% static 'OTobjects'%}/css/index.css" media="screen"/>
{%endcomment%}
{%endblock%}

{%block title%}{%trans 'OTsearch'%}{%endblock%}
{%block header%}
<div id="header">
  <div id="site-name" class="index_h" style="width:100%;text-align:center;font-size:220%; font-weight:bold;">
    <h>OT Identify</h>
  </div>
</div>
{%endblock%}
{%block content%}
<table class="index_t" style="clear:both;">
  <tr class="thead">
    <th>OTid</th><th>X</th><th>Y</th><th>Ra</th><th>Dec</th><th>Magcalib</th><th>Magorig</th><th>MagorigErr</th><th>Magres</th><th>MagresErr</th><th>Counts</th><th>Confirmed</th><th>Comments</th>
  </tr>
  {%for o in otm1%}
     <tr class="tdata">
       <td>{{o.OTid}}</td><td>{{o.x}}</td><td>{{o.y}}</td><td>{{o.Ra}}</td><td>{{o.Dec}}</td><td>{{o.magcalib}}</td><td>{{o.magorig}}</td><td>{{o.magorigErr}}</td><td>{{o.magres}}</td><td>{{o.magErr}}</td>
       <td><a class="counts" href="/ot/image/otid={{o.OTid}}" target="_blank">{{o.counts}}</a></td>
       <td>confirmed</td><td>comment</td>
     </tr>
  {%endfor%}
</table>
{%endblock%}
{%block footer%}
<div style="text-align:center;position:relative;top:10px;">
  {#previous#}
  {%if otm1.has_previous%}
       <a class="paginator-pages" href="{%url 'OTobjects:index'%}page={{page|add:'-1'}}">previous</a>
  {%endif%}
  {#the center pages.If the number of pages is less than or equeal to 10,all pages will be displayed. If it's greater than 10,"..." will be displayed.Before "...",only display one page.After "...",only display ten pages.#}
  {#<=10#}
  {%if paginator.num_pages <= 10%}
       {%for i in paginator.page_range%}
	    {%if i == page%}
                <b>{{i}}</b>
            {%else%}
                <a class="paginator-pages" href="{%url 'OTobjects:index'%}page={{i}}">{{i}}</a>
            {%endif%}
       {%endfor%}
  {%endif%}
  {#>10#}
  {%if paginator.num_pages > 10%}
       {%if page >= 4 %}
           <a class="paginator-pages" href="{%url 'OTobjects:index'%}page=1">1</a>
           ...
           {%for i in paginator.page_range%}
                {%if i >= page_start and i <= page_end%}
                     {%if i == page%}
                         <b>{{i}}</b>
                     {%else%}
                         <a class="paginator-pages" href="{%url 'OTobjects:index'%}page={{i}}">{{i}}</a>
                     {%endif%}
                {%endif%}
           {%endfor%}
       {%else %}
           {%for i in paginator.page_range%}
                {%if i == page %}
                     <b>{{i}}</b>
                {%else%}
                     {%if i <= 8%}
                         <a class="paginator-pages" href="{%url 'OTobjects:index'%}page={{i}}">{{i}}</a>
                     {%endif%}
                {%endif%}
           {%endfor%}
       {%endif%}
  {%endif%}
  {#next#}
  {%if otm1.has_next%}
       <a class="paginator-pages" href="{%url 'OTobjects:index'%}page={{page|add:'1'}}">next</a>
  {%endif%}
</div>
{%endblock%}
