.firstFchartTitle{position:relative;left:150px;width:70%;}
.firstFchart{position:relative;left:150px;height:200px;width:52.2%;border:solid 1px gray;padding:3px;background:white;}
.confirm{position:relative;left:140px;width:72%;}
.commentTitle{position:relative;left:150px;width:70%;}
.comment{position:relative;left:150px;width:70%;}
.listcomment{position:relative;left:145px;width:70%;}
