.label{position:fixed;top:40%;left:15px;width:100px;background:#303439;border-radius:5px;}
.label ul{position:relative;left:-48px;}
.label li{list-style-type:none;padding:8px;width:50px;}
.label ul li a{display:block;text-decoration:none;font-weight:bold;color:white;text-align:left;width:90px;padding:5px;}
.label ul li a:hover{background:#5b6571;}
.image{width:1200px;}
